<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To Do List</title>
        <link rel="stylesheet" href="/ToDo/styles.css">
    </head>
    <body>
        <section class="nav-bar">
            <nav>
                <a>Today</a>
                <a>Tomorrow</a>
            </nav>
        </section>
        </div>

        <div class="today-date">
            <%= date %>
        </div>

        <section>
                 <% if (locals.todos){ %>
                    <% todos.forEach((task) => { %>
                        <div>
                            <input type="checkbox" id="<%= task %>">
                            <label for="<%= task %>"><%= task %></label>
                        </div>

                <% })} else {%>
                    <h1>You no longer have tasks !</h1>
                <% } %>
        </section>

        <form action="/submit" method="POST">
            <input type="text" name="userTask" placeholder="Type Here Your Task !">
            <input type="submit" value="OK">
        </form>

        <script src="/ToDo/index.js"></script>
    </body>
</html>